# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
package-lock.json
yarn.lock
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.nuxt

#locks

yarn.lock
yarn-error.log
